MONGODB_URL = MONGODBURL
PORT = 8000;


CLOUDINARY_CLOUD_NAME = CLOUDNAME
CLOUDINARY_API_KEY = KEY
CLOUDINARY_API_SECRET = SECRET

ACCESS_TOKEN_SECRET = Your AccessToken
ACCESS_TOKEN_EXPIRY= Your AccessToken Expiry Time

REFRESH_TOKEN_SECRET = Your RefreshToken
REFRESH_TOKEN_EXPIRY= Your RefreshToken Expiry Time

EMAIL_SENDING_ID = EMAIL
EMAIL_SENDING_PASS_KEY = YOUR-KEY

USER_URL = USER_URL